@font-face {
  font-family: 'Roboto';
  src: url('./roboto-v30-latin-regular.woff2') format('woff2'),
    url('./roboto-v30-latin-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  --main-hd-color: rgb(255, 99, 71);
  --main-hd-color-hover: rgb(200, 99, 71);
  --main-bg-color: rgb(245,245,245, 0.5);
  --main-hv-color: rgb(230,230,230);
  --btn-bg-color: rgb(255,218,185);
  --btn-bg-color-hover: rgb(239, 204, 174);
  --main-bd-color: rgb(128, 128, 128, 0.5);
  --main-bd-radius: 5px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
  list-style: none;
}

body {
  display: grid;
  align-content: start;
  grid-template-columns: 325px 1fr;
  grid-template-rows: 50px calc(100vh - 50px);
  height: 100vh;
}

body > * {
  padding: 15px 3px 15px 35px;
}

.content-container {
  padding-top: 30px;
}

.header-container {
  background-color: var(--main-hd-color);

}

/* body>div:nth-child(odd) {
  padding-right: 20px;
} */

.header-container-left {
  display: flex;
  justify-content: space-between;
  padding-left: 43px;
  padding-right: 25px;
}

span.text-italic {
  font-style: italic;
  color: white;
}

.todo-container {
  padding-left: 12%;
  padding-right: 12%;
}

.projects-container {
  background-color: var(--main-bg-color);
}

.project {
  display: grid;
  grid-template-columns: 24px 1fr 30px;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 8px;
  border-radius: 5px;
}

li.project:hover, svg.cross:hover {
  background-color: var(--main-hv-color);
  cursor: pointer;
}

div.project button.add {
  padding-right: 17px;

}

.count, .project button:last-child {
  justify-self: end;
  padding-right: 10px;
  padding-right: 25px;
  color: grey;
  font-size: 0.8rem;
}

.title {
  padding-left: 10px;
}

.title-projects-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.todo-container .btn-svg {
  color: rgb(150, 150, 150);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.todo-container .btn-svg:hover {
  color: black;
  background-color: rgb(220,220,220, 1);
  cursor: pointer;
}

.task:hover .btn-svg, .todo-header:hover .btn-svg {
  opacity: 0.6;
}

.title-projects-title {
  font-weight: 600;
}

input, .btn-svg, textarea {
  border: none;
  appearance: none;
  outline: none;
  background: none;
}

input[type="checkbox"], input[type="radio"] {
  position: absolute;
  left: -100vw;
}

input.list-title {
  font-size: 1.2rem;
}

.list-title-container {
  display: grid;
  grid-template-columns: 25px 1fr repeat(3, 25px);
  grid-template-rows: 30px;
  align-items: start;
  padding-top: 7px;
  margin-bottom: 15px;
}

.task {
  position: relative;
  display: grid;
  grid-template-columns: 1fr repeat(4, 25px);
  grid-template-rows: 25px 17px 20px;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid lightgrey;
}

.todo-header:hover, .todo-body:hover {
  cursor: pointer;
}


.task .task-check {
  position: absolute;
  left: -100vw;
}

.custom-checkbox {
  --check: 18px;
  display: inline-block;
  height: var(--check);
  width: var(--check);
  margin-right: 12px;
  padding-left: 1px;
  border: 2px solid rgb(30, 144, 255);
  background-color: rgb(30, 144, 255, 0.2);
  border-radius: 50%;
}

.task label:hover .custom-checkbox {
  transform: scale(1.1);
}

.task .task-check + label span.task-text {
  position: relative;
}

.task .task-check:checked + label span.task-text:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 2px;
  background: rgb(70, 70, 70, 0.6);
}

.custom-checkbox svg {
  opacity: 0;
}

.task .task-check:checked + label svg {
  opacity: 1;
}

.task label {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.task label:hover {
  cursor: pointer;
}

.task-check {
  appearance: auto;
}

.task-text {
  font-size: 0.9rem;
}

p.task-descr {
  justify-self: start;
  font-size: 0.8rem;
  color: grey;
  margin-left: 30px;
}

p.task-descr:hover {
  color: black;
}


.calendar-container {
  grid-row: 3 / 4;
  display: flex;
  align-items: center;
  margin-left: 28px;
}

.task-calendar {
  font-size: 0.8rem;
  color: grey;
}

.form-main {
  padding: 8px 8px;
  border: 1px solid rgb(200, 200, 200, 0.5);
  border-radius: 8px;
}

.form-text {
  font-size: 0.9rem;
  font-weight: 600;
}

.form-descr {
  font-size: 0.8rem;
  color: black;
  resize: none;
  margin-top: 5px;
}

.task-form button, .form-project-container {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-right: 8px;
  border: 1px solid var(--main-bd-color);
  border-radius: var(--main-bd-radius);
  background: none;
  font-size: 0.8rem;
  cursor: pointer;
}

.form-params {
  display: flex;
  justify-content: flex-start;
}

.form-project-container {
  position: relative;
}

li.project-input {
  /* display: flex;
  align-items: center;
  gap: 5px;
  padding: 0; */
}

div.project-input {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 200%;
  border: 1px solid var(--main-bd-color);
  border-radius: var(--main-bd-radius);
  padding: 0;
  background-color: white;
}

.project-input .option {
  font-size: 0.8rem;
}

.project-input .option:hover {
  background-color: rgb(245,245,245, 0.8);
}

.project-input label {
  padding: 5px 7px;
}

.form-save {
  display: flex;
  margin-top: 8px;
  justify-content: flex-end;
}

.form-save button {
  padding: 7px 12px;
  border: none;
  letter-spacing: 0.05rem;
}

.form-save button:last-child {
  margin-right: 0;
  background-color: var(--main-hd-color);
  color: white;
}

.form-save button:last-child:hover {
  background-color: var(--main-hd-color-hover);
}

.form-save button:first-child {
  background-color: var(--btn-bg-color);
}

.form-save button:first-child:hover {
  background-color: var(--btn-bg-color-hover);
}

.backdrop {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  background-color: var(--main-bd-color);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 60%;
  padding: 15px;
  border-radius: var(--main-bd-radius);
  background: white;
}

.modal .form-main {
  border: none;
}

.hidden {
  display: none;
}

.btn-wrapper label {
  display: block;
  padding: 5px 7px;
}

label.btn-projects > *:not(.hidden), .project-input label {
  display: flex;
  align-items: center;
  gap: 3px;
}

input[type="checkbox"]:checked + .btn-wrapper label {
  background-color: lightgrey;
}

input[type="checkbox"]:checked ~ div.project-input {
  display: block;
}

input[type="radio"]:checked + .btn-wrapper label {
  
}